/* ========================================APPLY NOW========================================== */

.applyForm {
    padding-top: 100px;
}

.applyForm .applyForm__title span {
    display: inline;
    margin: 0 10px;
}

.applyForm .applyForm__title a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.applyForm .applyForm__title a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.applyForm .applyForm__title span:last-of-type {
    font-family: "Msr-Bold";
}

.applyForm .appItemTiltle .white__heading3 {
    font-size: 26px;
    padding: 30px 0 0;
}

.applyForm .applyForm__content {
    font-family: "Pp-Light";
}

.applyForm .applyForm__content .appItem {
    margin-bottom: 16px;
}

.applyForm .applyForm__content .appItem .white__para {
    padding: 0;
    margin-bottom: 10px;
}

.applyForm .applyForm__content .appItem input {
    background: #0F0F0F;
    padding: 10px 12px;
    height: 58px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.applyForm .applyForm__content .appItem textarea.cvLetter {
    background: #0F0F0F;
    padding: 10px 12px;
    height: 58px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.applyForm .applyForm__content .appItem .drag-area {
    width: 100%;
    height: 150px;
    text-align: center;
    border: 2px dashed #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applyForm .applyForm__content .appItem .drag-area button#aUpload {
    color: #3185FF;
    font-weight: bold;
    background: #0F0F0F;
    border: transparent;
}

.applyForm .applyForm__content .appItem .drag-area button#aUpload:focus {
    outline: none;
}

.applyForm .applyForm__content button.blue__btn__large {
    width: 100%;
}