/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

html,
body {
    background: #0F0F0F;
}

.container {
    width: 75%;
    margin: auto;
}

.section {
    padding: 64px 0;
}

h3 {
    margin-bottom: 0;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    /* object-fit: contain; */
    object-fit: fill;
}

.blue__heading2 {
    color: #3185FF;
    font-family: "Msr-Bold";
    font-size: 30px;
    line-height: 120%;
}

.white__heading2 {
    font-family: "Msr-SemiBold";
    font-size: 30px;
    line-height: 115.5%;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}

.white__heading3 {
    font-family: "Msr-SemiBold";
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 39px 0 16px;
}

.white__heading4 {
    font-family: "Msr-SemiBold";
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.blue__btn {
    font-family: "Pp-Regular";
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Egitech Color */
    color: #3185FF;
    background: transparent;
    padding: 4px 14px;
    border: 2px solid #3185FF;
    border-radius: 4px;
    transition: all 0.5s;
}

.blue__btn:hover {
    color: rgba(51, 133, 255, 0.6);
    border-color: rgba(51, 133, 255, 0.6);
}

.blue__btn:focus {
    outline: none;
}

.blue__btn__large {
    font-family: "Pp-Regular";
    font-size: 18px;
    line-height: 14px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Egitech Color */
    color: #3185FF;
    background: transparent;
    padding: 12px 20px;
    border: 2px solid #3185FF;
    border-radius: 4px;
    transition: all 0.5s;
    margin-top: 30px;
}

.blue__btn__large:hover {
    color: rgba(51, 133, 255, 0.6);
    border-color: rgba(51, 133, 255, 0.6);
}

.blue__btn__large:focus {
    outline: none;
}

.white__para {
    font-family: "Pp-Light";
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 10px 0 6px;
}

.gray__para {
    font-family: "Pp-Light";
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
}

.blue__line {
    width: 50px;
    height: 6px;
    background: #3185FF;
    margin-right: 0;
    margin: 10px auto 0;
}

.white__line {
    width: 30px;
    height: 4px;
    background: #ffffff;
    margin-right: 0;
    margin: 0 auto;
}

.line__heading {
    padding-bottom: 10px;
}

.active {
    font-family: "Msr-Bold" !important;
    color: #fff !important;
}

.active::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
}


/* =========================HEADER========================== */

header {
    position: relative;
}

header .header__content {
    position: fixed;
    z-index: 2;
    /* <<<<<<< Updated upstream */
    width: 100%;
    max-width: 100%;
    height: 90px;
    background-color: #0F0F0F;
}

nav.navbar {
    width: 75%;
    margin: auto;
    padding: 20px 0 40px;
}

.navbar .navbar__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.navbar .navbar-nav .nav-link {
    font-weight: 300;
    /* font main 20px */
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px;
    color: #FFFFFF;
    transition: all 0.5s;
    font-family: "Msr-Regular";
}

.navbar .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.navbar i {
    color: #FFFFFF;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}


/* ========================================BLOG========================================== */

.blog .blog__content {
    margin: 40px auto 0;
}

.blog .blog__content .blog__content__item {
    display: flex;
}

.blog .blog__content .blog__info .white__heading3 {
    padding: 10px 0 0;
    font-size: 22px;
}

.blog .blog__content .blog__item {
    background: rgba(255, 255, 255, 0.12);
    padding: 24px;
    border-radius: 16px;
    margin: 10px;
    width: 350px;
}

.blog .blog__content a {
    text-decoration: none;
}

.blog .blog__content .col-3 {
    flex: 0 0 auto;
    width: 15%;
}


/* .blog .blog__content .blog__item .blog__datetime  img {
    width: 22px;
    height: 22px;
} */


/* .blog .blog__content .blog__item .blog__datetime span:first-of-type {
    display: inline-block;
    height: 4px;
    width: 4px;
    background: #FFFFFF;
    border-radius: 100%;
} */

.blog .blog__content .blog__item .blog__datetime span.date {
    font-family: "Pp-Light";
    font-size: 14px;
}

.blog .blog__content .blog__item .blog__datetime p.gray__para {
    margin: 0
}

.blog .btn {
    width: 100%;
    margin: 32px auto 0;
}


/* ========================================FOOTER========================================== */

footer.footer__content {
    width: 75%;
    margin: auto;
}

footer {
    background: rgba(255, 255, 255, 0.05);
}

.footer .footer__content {
    padding: 64px 0 20px;
    display: flex;
}

.footer .footer__content p:first-of-type {
    font-family: "Msr-SemiBold";
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 20px 0 4px;
    margin: 0;
}

.footer .footer__content p:last-of-type {
    font-family: "Msr-Regular";
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.footer .footer__content .footer__social {
    display: flex;
}

.footer .footer__content .footer__social .social__item {
    padding: 0 20px 20px 0;
}

.footer .footer__content span {
    font-family: "Pp-Thin";
    font-size: 10px;
    line-height: 34px;
    /* identical to box height, or 283% */
    color: rgba(255, 255, 255, 0.6);
}

.footer .footer__content .footer__map.col-4 {
    display: flex;
    align-items: center;
}

.footer .footer__content .footer__map.col-4 iframe {
    /* width: 446px;
    height: 220px; */
    max-width: 500px;
}

.footer .footer__content {
    overflow: hidden;
}


/* 
.grid-container {
    display: grid;
    column-gap: 50px;
} */