/* ========================================CAREER========================================== */

.career {
    padding-top: 130px;
}

.career .career__content {
    padding-top: 20px;
}

.career .career__content .career__item a button.btn {
    font-family: "Msr-Bold";
    font-size: 16px;
    width: 100%;
    height: 58px;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    /* border-color: transparent; */
    transition: all 0.5s;
}

.career .career__content .career__item a:hover button.btn {
    color: #fff;
    background: #3185FF;
}

.career .career__content .career__item button.btn:focus {
    outline: none;
    box-shadow: none;
}

.career .career__content .career__item {
    padding: 15px 12px;
}