/* MENUTAP */

.menuTap .menuTap__content {
    position: fixed;
    z-index: 2;
    /* <<<<<<< Updated upstream */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.menuTap {
    position: relative;
    padding-top: 90px;
    overflow: hidden;
    padding: 0 0 35px;
}

.menuTap .menuTap__content .tab .tablinks {
    z-index: 100;
}

.tab {
    text-align: center;
    /* position: fixed;
    z-index: 3; */
}

.tab button {
    font-family: "Msr-Light";
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 12px;
    color: #fff;
    transition: all 0.5s;
}

.tab button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.tab .tablinks.active {
    color: #fff !important;
    font-family: "Msr-Bold";
}

.tab .tablinks.active::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
}


/*========================== FULFILL SOLUTION========================*/


/* fulfill banner */

.fulfillment .fulfillment__banner {
    position: relative;
}

.fulfillment .fulfillment__banner .fulfill__banner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    margin: auto;
}


/* fulfill features */

.fulfillment__features .features__item {
    padding: 0 30px;
    height: 200px;
}

.fulfillment__features .features__item .features__item__content .features-img img {
    margin: 0;
    height: auto;
    width: 60px;
}

.fulfillment__features h3.white__heading3 {
    padding: 20px 0 0;
}


/* fulfill platform */

.fulfillment__platform {
    background-image: url(../img/black\ bgr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fulfillment__platform .fulfillment__platform__content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.fulfillment__platform .fulfillment__platform__content .white__heading2 {
    padding: 20px 0 10px;
}

.fulfillment__platform .fulfillment__platform__content .col-6 .white__heading3 {
    padding: 0;
    line-height: 10px;
}

.fulfillment__platform .fulfillment__platform__content .col-6 {
    padding: 20px 10px;
}


/* Fulfill Ecosystem */

.fulfillment__ecosystem {
    position: relative;
    padding-top: 64px;
}

.fulfillment__ecosystem .fulfillment__ecosystem__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.fulfillment__ecosystem .fulfillment__ecosystem__content .white__heading2 {
    padding: 32px 0 20px
}

.fulfillment__ecosystem .fulfillment__ecosystem__content .fulfillment__content-logoTop .col-10 {
    padding-bottom: 30px;
    width: 70%;
    margin: 0 auto;
}

.fulfillment__ecosystem .fulfillment__ecosystem__content .fulfillment__content-logoBottom .col-10 {
    width: 100%;
    margin: 0 auto;
}

.fulfillment__ecosystem .fulfillment__ecosystem__content .fulfillment__content-logoTop .col-4 {
    padding: 0 10px;
}

.fulfillment__ecosystem .fulfillment__ecosystem__content .fulfillment__content-logoBottom .col-3 {
    padding: 0 15px;
}


/* E-COMMERCE SOLUTION  */


/* EC banner */

.ecommerce .ecommerce__banner {
    position: relative;
}

.ecommerce .ecommerce__banner .ecommerce__banner-content {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    margin: auto;
}


/* Ec info */

#S_ecommerce .ecmmerce__info .ecommerce__info__content {
    padding-top: 64px;
}

#S_ecommerce .ecmmerce__info .ecommerce__info__content .white__heading2 {
    padding-bottom: 0;
}

h3.white__heading3 {
    padding: 28px 0 0;
}

#S_ecommerce .ecmmerce__info .ecommerce__info__content .col-6 {
    padding: 0 20px;
}


/* Ec Features */

.ecommerce__feature {
    padding-bottom: 32px;
}

.ecommerce__feature .ecommerce__feature__content .col-12 {
    padding: 0 10px;
}

.ecommerce__feature .ecommerce__feature__content .col-12 .white__heading3 {
    font-size: 18px;
}

.ecommerce__feature .ecommerce__feature__content .ecommerce__feature__item {
    height: 380px;
}

.ecommerce__feature .ecommerce__feature__content .col-12 .ecommerce-img img {
    margin: 0;
    height: 50px;
    width: auto;
}

.ecommerce__feature .ecommerce__feature__content .ecommerce__feature__item h3.white__heading3 {
    height: 90px;
    font-family: "Msr-SemiBold";
}


/* ============================FINTECH SOLUTION============================ */


/* Fintech banner */

.fintech .fintech__banner {
    position: relative;
    /* padding-top: 35px; */
}

.fintech .fintech__banner .fintech__banner-content {
    position: absolute;
    top: 60%;
    left: 5%;
}

.fintech .fintech__banner .fintech__banner-content .white__heading2 {
    text-align: left;
    padding-bottom: 0;
}

.fintech .fintech__banner .fintech__banner-content .fintech-img img {
    margin: 0;
}


/* fintech banking */

.fintech .fintech__banking .white__heading2 {
    padding-bottom: 0;
}

.fintech .fintech__banking .fintech__banking__content {
    margin-top: 50px;
}

.fintech .fintech__banking .fintech__banking__content .fintech__item .fintech-img img {
    margin: 0;
}

.fintech .fintech__banking .fintech__banking__content .col-4 {
    padding: 0 30px;
}


/* fintech carousel */

.fintech__carousel .carousel {
    background: #0F0F0F;
    background-image: url(../img/black\ bgr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fintech__carousel .active::after {
    display: none;
}

.fintech__carousel .carousel {
    margin-bottom: 0;
}

.fintech__carousel .carousel-item .white__heading2 {
    text-align: left;
    padding-bottom: 10px;
}

.fintech__carousel .carousel-item {
    padding: 60px;
}

.fintech__carousel .carousel-item .carousel-cell-top {
    margin: auto 0;
}

.fintech__carousel .carousel-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: 0 4px;
}

.fintech__carousel .carousel-indicators {
    justify-content: left;
    margin: 0 60px 20px;
}


/* =========================REAL ESTATE SOLUTION========================= */


/*estate banner  */

.estate .estate__banner {
    position: relative;
    /*   padding-top: 35px; */
}

.estate .estate__banner .estate__banner-content {
    position: absolute;
    top: 75%;
    left: 5%;
}

.estate .estate__banner .estate__banner-content .white__heading2 {
    text-align: left;
    padding-bottom: 0;
}

.estate .estate__banner .estate__banner-content .estate-img img {
    margin: 0;
}


/*  estate features*/

.estate__features .estate__features__content h3.white__heading3 {
    font-size: 18px;
    line-height: 28px;
    padding: 20px 0px 0px;
}

.estate .estate__features .estate__features__content .col-6 .col-12 {
    padding: 10px 40px;
}

.estate .estate__features .estate__features__content .estate__item .img-fluid {
    margin: 0;
    height: 50px;
    width: auto;
}


/* =======================BLOCKCHAIN============================ */


/*blockchain banner  */

.blockchain .blockchain__banner {
    position: relative;
    /* padding-top: 35px; */
}

.blockchain .blockchain__banner .blockchain__banner-content {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 90%;
}

.blockchain .blockchain__banner .blockchain__banner-content .white__heading2 {
    text-align: left;
    padding-bottom: 0;
}

.blockchain .blockchain__banner .blockchain__banner-content .blockchain-img img {
    margin: 0;
}


/*  blockchain features*/

.blockchain .blockchain__features .blockchain__features__content .col-4 {
    padding: 30px 20px 10px;
}

.blockchain .blockchain__features .blockchain__features__content .blockchain__item .img-fluid {
    margin: 0;
    height: 50px;
    width: auto;
}